*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0; 
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }

.wrap{
    width: 960px; 
    min-height: 1400px;
    background: #ecf0f1;
    margin: 0 auto;
    }

.header{
    min-height: 250px;
    background: #16a085; 
    margin: 0;
    padding: 0;
    }

.header h1{
    text-align: center; 
    padding-top: 80px;
    color: #fff; 
    font-size: 60px; 
    text-shadow: 2px 2px 0px #030303;
    }

.navbar{
    background: #f39c12; 
    height: 40px; 
    padding-left: 100px;
    }

.navbar ul.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    }

.navbar ul.nav li{
    float: left;
    }

.navbar ul.nav li a{
    display: block;
    padding: 10px; 
    text-decoration: none; 
    color: #fff;
    }

.navbar ul.nav li a:hover{
    background: #e67e22;
    }

.content{
    padding: 30px 150px;
    }

.content p{
    font-size: 16px; 
    color: #34495e; 
    line-height: 25px;
    }

.footer{
    height: 30px; 
    color: #ff0; 
    background: #34495e;
    }

.footer p{
    text-align: center; 
    padding: 5px;
    }

.footer p a{
    color: #fff;}

div#sticker{
    width: 860px;
    }

.stick {
	position:fixed;
	top:0px;
}