/*
font-family: 'Cinzel', serif;
font-family: 'Lora', serif;
font-family: 'Quattrocento', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lora&family=Quattrocento&display=swap');

header, footer, nav{
    background-color: #596e79;
    padding: 2%;
    color: #c7b198;
}

header{
    padding: 20px 2%
}

header>h1{
    font-family: 'Cinzel', serif;
    font-weight: lighter;
    margin: 0;
}

header>h2{
    font-family: 'Quattrocento', serif;
    font-weight: lighter;
    margin: -5px 0 0 40.5px;
}

.h2_page_tag{
    font-family: 'Quattrocento', serif;
    font-weight: none;
}

/* Taken from https://css.maxdesign.com.au/listamatic/horizontal30.htm */
#navcontainer
{
padding: 0;
background: #ccc;
height: 20px;
}

#navlist
{
margin: 0px;
padding: 0px 0px;
display: block;
}

#navlist li
{
list-style: none;
float: left;
}

#navcontainer a, #navlist li.extend
{
margin: 0px;
display: block;
border-top: 1px solid #333;
padding: 1px 6px;
text-decoration: none;
background: #ccc;
font: normal 12px verdana, serif;
color: #000;
}

#navcontainer a:hover, #navcontainer a#current
{
padding: 1px 5px;
background: #FAFAFA;
border-right: 1px solid #333;
border-left: 1px solid #333;
border-top: 1px solid #FAFAFA;
border-bottom: 1px solid #333;
color: #000;
}

#navcontainer a#current
{
background: #F6F6F6;
border-top: 1px solid #F6F6F6;
font-weight: bold;
}

#navcontainer li#active
{
border-right: 2px solid #828282;
border-bottom: 2px solid #828282;
}

footer{
    padding: 2%;
    margin: 5px 0px 0 0px;
    text-align: center;
}

p, ol{
    font-family: 'Lora', serif;
    text-align: center;
}

ol{
    list-style-type: circle;
}

#wrapper{
    background-color: #c7b198;
    width: 90%;
    margin: auto;
    padding: 1.5% 2.5% 0.5% 2.5%;
    border: 1px solid black;
}

article{
    background-color: #dfd3c3;
    padding: 1%;
    margin: 0.5% auto;
}

/* h1{

} */

/* h2{

} */

figure{
    background-color: #c7b198;
    width: 25%;
    padding: 1.5%;
    margin: auto;
}

figure>img{
    width: 100%;
}

/* https://stackoverflow.com/questions/19138758/how-to-align-caption-underneath-image */
figcaption{
    text-align: center;
}

#sunny_16{
    text-align: center;
}

/*
h1{
    color: #3500D3;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 42.5%;
}

h2{
    color: #240090;
    font-size: 21px;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: ghostwhite;
    font-size: 15px;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-family: 'Monaco', 'monospace';
}
    /* Chose 'monospace' as backup for 'Monaco' */

/*
body{
    background-color: #282828;
}

article{
    background-color: black;
    padding: 4%;
    margin: 1%;
}

footer{
    font-size: 20px;
    margin-left: 42.5%;
    color: #3500D3;
    font-weight: bold;
}

a {
    color: white;
}

.datetime{
    padding-left: 80%;
    padding-top: 1%;
}
</style>
*/